.my-button {
    background-color: white;
    color: blue;

    border: 1px solid blue;
    border-radius: 10px;

    padding: 10px;
    margin: 2px;
    text-align: center;
}

.my-button:hover {
    background-color: rgb(72, 72, 239);
    color: white;
}